/**
 * Footer
 */

footer {
	&.absolute {
		position: absolute;
		bottom: 0;
	}
	padding: 20px 0;
	width: 100%;
	background-color: $footer-color;
	.logo {
		width: 30px;
		height: auto;
    	margin-right: 5px;
	}
	a {
		color: white;
		font-size: 15px;
		&:hover {
			text-decoration: none;
		}
	}

	.credits {
		* {
			font-size: 12px;
		}
	}
}
