/**
 * Colors
 */

$primary-color: #fff;
$secondary-color: #4285f4;
$body-color: #fff;
$footer-color: #313c42;
$font-color: #202020;
$link-color: #039be5;
$grey-color: #f7f7f7;
$question-background-color: #f8f9fa;
$question-border-color: #d0d8dd;