/**
 * Form
 */

form, form .form-control {
	input, 
	textarea {
        margin-bottom: 10px;
        border-radius: 0 !important;
		border-bottom: $border-light !important;
		border-left: 0 !important;
		border-top: 0 !important;
		border-right: 0 !important;
    }

    select {
    	margin-bottom: 10px;
        border-radius: 0 !important;
		border-bottom: $border-light !important;
		border-left: $border-light !important;
		border-top: 0 !important;
		border-right: 0 !important;
		padding: 0 !important;
    }

    option {
    	color: $secondary-color;
		background: $question-background-color;
		font-size: 16px;
		padding: 5px;
		border-bottom: 1px solid $question-border-color;
    }


    input {
    	&[type="search"] {
		    background: $grey-color;
		    transition: background .66s;
		    border: 0 !important;
		    color: rgba(0,0,0,.54) !important;
		    height: 36px;
		    padding: 8px 8px 8px 72px;
		    transition: color .2s;
		    transition: width .2s;
		    width: 30%;
		    @media screen and (max-width: $medium) {
	    	    width: 50%;
		    }
		    border-radius: 2px !important;
		    color: #212121;
		    font: 16px/20px Roboto,sans-serif;
		    margin: 0;
		    max-width: 100%;
		    outline: 0;
		    vertical-align: middle;
		    &:focus {
    			transition: border-color .2s;
	   		 	transition: width 0.4s;
	   		 	border: 1px solid #ebebeb;
	   		 	width: 100%;
		    }
		   
    	}
    }
}