/**
 * Boxshadows
 */

$box-shadow-light: 0px 0px 31px rgba(0,0,0,.1);
$box-shadow-dark: 0px 0px 31px rgba(0,0,0,.8);
$box-shadow-xl: 0px 10px 100px rgba(0,0,0,.5);
$box-shadow-element: 0px 0px 33px rgba(0,0,0,.5);